<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>

    <% if (username) { %>
        <nav class="nav">
            <a href="/index"><img src="/image/index.jpeg" alt="" style="height:90%; width:50%"></a> 
            <form action="/index/new" ><button type="submit" class="btn btn-outline-dark">Cluck!</button></form> 
            logged in as : <%= username %>
            <form action="/sign_out" method=POST><button type="submit" class="btn btn-outline-dark">Sign Out</button></form>
        </nav>
    <% } else { %>
        <nav class="nav">
            <a href="/index"><img src="/image/index.jpeg" alt="" style="height:90%; width:50%"></a> 
            <form action="/index/new" ><button type="submit" class="btn btn-outline-dark">Cluck!</button></form>
            <form action="/sign_in"><button type="submit" class="btn btn-outline-dark">Sign In</button></form>
        </nav>
    <% } %>
    <br>
    <br>
    <br>

