<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <nav>
    <% if (username) { %>
        <a href="/index"><img src="/image/index.jpeg" alt="" style="height:5%; width:5%"></a>  |
        <a href="/index/new"> Cluck! </a>  | 
        logged in as : <%= username %>  |
        <a href="sign_out"> Sign Out </a>  
    <% } else { %>
        <a href="/index"><img src="/image/index.jpeg" alt="" style="height:5%; width:5%"></a>  |
        <a href="/index/new"> Cluck! </a>  | 
        <a href="/sign_in"> Sign In </a>  
    <% } %>
    </nav>
    <br>
    <br>
    <br>

