<%- include("../../partials/header")%>
<form action="/index" method=POST>
    <label for="content">Content</label>
    <input type="text" name='content'>

    <label for="url">Image Url</label>
    <input type="url" name="url">

    <input type="submit" value="Cluck!">
</form>
<%- include("../../partials/footer")%>